.root {
    /* CSS Look-Up Colors */
    -fx-hs-container-background: rgba(90, 90, 90, 1);
    -fx-hs-content-background: rgba(40, 40, 40, 1);
    -fx-hs-info-background: rgba(64, 64, 64, 1);
    -fx-hs-font-color: rgba(0, 137, 123, 1);
    -fx-hs-font-highlight-color: rgba(0, 86, 77, 1);

    /* Root Container Styling */
    -fx-background-color: -fx-hs-container-background;
    -fx-accent: -fx-hs-font-highlight-color;
}

/* |--------------------| */
/* | TERMINAL COMPONENT | */
/* |--------------------| */
.terminal-component {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-hs-font-color;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.terminal-component .scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER;
}

.terminal-component .content {
    -fx-background-color: -fx-hs-content-background;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

/* |--------------------| */
/* |  EDITOR COMPONENT  | */
/* |--------------------| */
.editor-component .text-area {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-hs-font-color;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.editor-component Text {
    -fx-tab-size: 4;
}

.editor-component .text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER;
}

.editor-component .text-area .content {
    -fx-background-color: -fx-hs-content-background;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.editor-component .text-field {
    -fx-background-color: -fx-hs-info-background;
    -fx-text-fill: -fx-hs-font-color;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.editor-component .text-field .content {
    -fx-background-color: -fx-hs-info-background;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.editor-component .info-line {
    -fx-background-color: -fx-hs-info-background;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.editor-component .info-line .info-line-text {
    -fx-fill: -fx-hs-font-color;
}